.logo {
  font-size: 2rem;
  white-space:nowrap;
}
.navbar {
  width: 75%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.navbar-menu {
  position: absolute;
  right: 40px;
  text-align: right;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}
.navbar-menu-icon {
  display: flex;
  gap: 2px;
  width: 40px;
  flex-wrap: wrap;

}
.box {
  height: 15px;
  min-width: 15px;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 30%;
}
.box:nth-child(2) {
    transform: rotateZ(45deg);
    height: 14px;
    width: 14px;
}
ul{
    list-style-type: none;
}
.change .box:nth-child(2)  {
    transform: rotateZ(0deg);
    background-color: black;
    transition: all 0.3s ease;
}
li{
  font-size: 1.25rem;
}
.animate{
  visibility: visible;
  opacity: 1;
  animation-name: dropDown;
  animation-duration: .5s;
}
@keyframes dropDown {
  from {
    transform: ScaleY(0%);
  }
  to {
    transform: ScaleY(100%);
  }
}
.menu2{
  visibility: hidden;
}
.menu2-list{
  display: flex;
  gap:10%;
  margin-right: 10rem;
  justify-content: center;
}
.menu2-list li{
  font-size: 1.5rem;
}
.menu2-list li:hover{
  color: hsla(0, 0%, 0%, 0.123);
}

button a{
  background-color: aqua;
}
/* mediaQuery */


@media screen and (min-width:1350px) {
  .menu{
     visibility: hidden;
  }
  .menu2{
    visibility: visible;
  }
}
@media screen and (max-width: 500px) {
  .navbar{
    width: 100vw;
    padding: 0px;
  }
  .navbar-menu {
    right: 0px;
  }
}