@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --PCOLOR :hsla(0, 0%, 0%, 0.4);
  --H6COLOR:hsla(0, 0%, 0%, 0.7);
}
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 90vw;
  margin: auto;
}
.header{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.main{
  width: 100%;
  height: auto;
}
.footer{
  width: 100%;
  height: auto;
}
h1{
  font-size: 2.5rem;
  padding:5px 0px;
}
h6{
  font-size: 1rem;
  color: var(--H6COLOR);
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: black;
}
.navbar-menu-full{
  visibility: hidden;
}
@media screen and (min-width:1350px) {
  .App{
    width: 75vw;
  }
 }
